<script setup lang="ts">
import { useCookiesConsentStore } from '@/stores/CookiesConsentStore';
import packageJson from '../../../package.json';

interface PackageJson {
  name: string;
  version: string;
  scripts: { [key: string]: string };
  files: string[];
  dependencies: { [key: string]: string };
  devDependencies: { [key: string]: string };
}

const cookiesStore = useCookiesConsentStore();

const { version } = packageJson as unknown as PackageJson;
</script>

<template>
  <footer class="p-4 flex flex-col justify-center items-center text-gray-600 font-bold text-sm">
    <div class="flex justify-center items-center">
      <a
        href="https://gitlab.com/frantab/tenor"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gray-400"
      >
        <font-awesome-icon
          icon="fa-brands fa-gitlab"
        />

        <span class="ml-1">GitLab</span>
      </a>

      <span class="mx-2">|</span>

      <a
        href="https://developers.google.com/tenor/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gray-400"
      >
        tenor
      </a>

      <span class="mx-2">|</span>

      <button
        class="hover:text-gray-400"
        type="button"
        @click="cookiesStore.wasPopupShowed = false"
      >
        cookies
      </button>
    </div>

    <span class="text-xs mt-1">v{{ version }}</span>
  </footer>
</template>
