<script lang="ts" setup>
import { Routes } from '@/router';
import { computed } from 'vue';
import { RouterLink } from 'vue-router';

const routes = computed(() => Object.values(Routes));
</script>

<template>
  <nav class="p-4 flex justify-center items-center gap-4 font-bold text-gray-700">
    <RouterLink
      v-for="route in routes"
      :key="`header-${route}`"
      :to="{ name: route }"
      class="uppercase hover:text-sky-700"
    >
      {{ route }}
    </RouterLink>
  </nav>
</template>

<style lang="scss">
.router-link-active {
  @apply text-sky-700;
}
</style>
