<script lang="ts" setup>
import { useCookiesConsentStore } from '@/stores/CookiesConsentStore';

const cookiesStore = useCookiesConsentStore();
</script>

<template>
  <div
    v-if="!cookiesStore.wasPopupShowed"
    class="fixed bottom-5 left-5 right-5 w-auto lg:w-64 lg-mx-auto z-40 transition-opacity duration-200 py-2 px-4 rounded-md opacity-100 bg-green-400/80"
  >
    <h3 class="font-bold text-gray-700">
      Použití cookies
    </h3>

    <p class="text-sm text-gray-700 mb-3">
      Souhlasíš s využitím cookies pro google analytics? Nesouhlas neovlivní funkčnost aplikace.
    </p>

    <button
      type="button"
      class="px-4 py-1 bg-sky-500/50 hover:bg-sky-500 rounded-md text-center font-semibold mr-2"
      @click="cookiesStore.enable"
    >
      Ano
    </button>

    <button
      type="button"
      class="px-4 py-1 bg-gray-200/50 hover:bg-gray-200 rounded-md text-center font-semibold"
      @click="cookiesStore.disable"
    >
      Ne
    </button>
  </div>
</template>
