<script lang="ts" setup>
import CompareLine from '@/components/CompareLine.vue';
</script>

<template>
  <div class="text-left mb-8">
    <h2 class="text-xl text-green-900 font-bold">Zadání</h2>

    <ul class="">
      <CompareLine>
        <template #original>
          Aplikace má vypisovat obsah z rest API
          <a
            href="https://tenor.com/gifapi/documentation"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-900 hover:text-blue-600"
          >
            https://tenor.com/gifapi/documentation
          </a>
        </template>

        <template #new>
          Použita API
          <a
            href="https://developers.google.com/tenor/guides/endpoints"
            target="_blank"
            rel="noopener noreferrer"
            class="text-purple-900 hover:text-purple-600"
          >
            v2
          </a>
        </template>
      </CompareLine>

      <CompareLine>
        <template #original>
          Používá Vue router a Vuex.
        </template>

        <template #new>
          Použita Pinia na místo Vuex. Je to doporučovaný state management pro Vue 3.
        </template>
      </CompareLine>

      <CompareLine>
        <template #original>
          Má minimálně dvě stránky.
        </template>

        <template #new>
          <font-awesome-icon
            icon="check"
          />
        </template>
      </CompareLine>

      <CompareLine>
        <template #original>
          První stránka výpis trendů.
        </template>

        <template #new>
          Defaultní search (prázdný search) jsou featured tenors.
        </template>
      </CompareLine>

      <CompareLine>
        <template #original>
          Druhá stránka výsledky vyhledávání.
        </template>

        <template #new>
          Je jako součást první stránky.
        </template>
      </CompareLine>

      <CompareLine>
        <template #original>
          Výraz pro vyhledávání se píše do inputu. Request na API se automaticky odešle, pokud uživatel přestane psát na více jak 200ms.
        </template>

        <template #new>
          <font-awesome-icon
            icon="check"
          />
        </template>
      </CompareLine>

      <CompareLine>
        <template #original>
          Obsah z API se ukládá do Vuexu, odkud se data vypisují do komponent.
        </template>

        <template #new>
          Obsah je uchováván v Pinii.
        </template>
      </CompareLine>

      <CompareLine>
        <template #original>
          Výsledná aplikace je uložena ve veřejném git repozitáři.
        </template>

        <template #new>
          <font-awesome-icon
            icon="check"
          />

          <a
            href="https://gitlab.com/frantab/tenor"
            target="_blank"
            rel="noopener noreferrer"
            class="text-purple-900 hover:text-purple-600 ml-2"
          >
            GitLab
          </a>
        </template>
      </CompareLine>
    </ul>
  </div>

  <div class="text-left">
    <h2 class="text-xl text-green-900 font-bold">Použité technologie</h2>
    <ul class="">
      <li>
        Vue3 on Vite (generováno pomocí
        <a
          href="https://github.com/vuejs/create-vue/tree/v3.3.4"
          target="_blank"
          rel="noopener noreferrer"
          class="text-purple-900 hover:text-purple-600"
        >vue-create</a>)
      </li>
      <li>Typescript</li>
      <li>Scss a Tailwind pro css classes</li>
      <li>Eslint s airbnb rules</li>
      <li>Vitest pro unit testy</li>
      <li>Cypress pro e2e testy</li>
      <li>Gitlab-ci pro CI/CD</li>
      <li>Firebase pro hosting</li>
    </ul>
  </div>
</template>
