<script lang="ts" setup>
import { watch } from 'vue';
import { debounce } from 'lodash';
import { useTenorStore } from '@/stores/TenorStore';
import SearchInput from '@/components/search/SearchInput.vue';
import GifsList from '@/components/gifs/GifsList.vue';
import SuggestedSearch from '@/components/search/SuggestedSearch.vue';
import SearchRandomizeButton from '@/components/search/SearchRandomizeButton.vue';

const tenorStore = useTenorStore();

const getTenorsWithDebounce = debounce(() => {
  tenorStore.getTenors();
  tenorStore.getSearchSuggestions();
}, 500);

// Watch on search text for refreshing content
watch(() => tenorStore.searchText, () => getTenorsWithDebounce());

tenorStore.getTenors();
</script>

<template>
  <div class="mx-auto w-full max-w-lg mb-1 flex items-center">
    <SearchInput
      id="searchInput"
      v-model="tenorStore.searchText"
      label="Hledat"
    />

    <SearchRandomizeButton />
  </div>

  <div class="mx-auto w-full max-w-lg mb-6">
    <SuggestedSearch />
  </div>

  <GifsList />
</template>
