<script lang="ts" setup>
import { useTenorStore } from '@/stores/TenorStore';
import Gif from '@/components/gifs/Gif.vue';
import GifSkeleton from '@/components/gifs/GifSkeleton.vue';

const tenorStore = useTenorStore();

if (!tenorStore.randomTenor) tenorStore.getRandomTenor('not found');
</script>

<template>
  <div class="w-full flex flex-col justify-center items-center mt-10">
    <h1 class="text-2xl font-bold text-gray-700 mb-5">Stránka nenalezena</h1>

    <Gif
      v-if="tenorStore.randomTenor && !tenorStore.loading"
      :url="tenorStore.randomTenor.media_formats.gif.url"
      :preview-url="tenorStore.randomTenor.media_formats.tinygif.url"
      :title="tenorStore.randomTenor.title"
      :content-description="tenorStore.randomTenor.content_description"
    />

    <GifSkeleton
      v-else-if="tenorStore.loading"
    />
  </div>
</template>
