<script lang="ts" setup>
export interface Props {
  header?: boolean;
}

withDefaults(defineProps<Props>(), {
  header: false,
});
</script>

<template>
  <li class="flex flex-col mb-4 last:mb-0">
    <span class="text-gray-900 font-semibold">
      <slot name="original" />
    </span>

    <span class="text-sky-700 font-semibold ml-4">
      <slot name="new" />
    </span>
  </li>
</template>
