<script lang="ts" setup>
import { useNotificationsStore, NotificationTypes } from '@/stores/NotificationsStore';

export interface Props {
  keepOnTop?: boolean;
}

withDefaults(defineProps<Props>(), {
  keepOnTop: false,
});

const notificationsStore = useNotificationsStore();
</script>

<template>
  <div
    class="fixed right-5 left-5 overflow-y-auto p-2 lg:max-h-72 lg:top-5 lg:bottom-auto lg:left-auto lg:w-72 z-50"
    :class="{
      'bottom-5': !keepOnTop,
      'top-5': keepOnTop,
    }"
  >
    <div
      v-for="{
        id,
        title,
        message,
        type,
        timeLeft,
      } in notificationsStore.notifications"
      :key="`notification-${id}`"
      class="transition-opacity duration-1000 min-h-[38px] py-2 px-4 rounded-md mb-2 last:mb-0 opacity-100"
      :class="{
        'bg-sky-400/80': type === NotificationTypes.Info,
        'bg-yellow-400/80': type === NotificationTypes.Warning,
        'bg-red-400/80': type === NotificationTypes.Error,
        'opacity-0': timeLeft <= 1000,
      }"
    >
      <h3 class="font-bold text-gray-700">{{ title }}</h3>
      <p class="text-sm text-gray-700">{{ message }}</p>
    </div>
  </div>
</template>
