<script lang="ts" setup>
export interface Props {
  url: string;
  previewUrl: string;
  title: string;
  contentDescription: string;
}

const props = defineProps<Props>();

const share = async () => {
  try {
    await navigator.share({
      url: props.url,
      title: props.title,
    });
  } catch (_) {
    // TODO: Handle errors
  }
};

const copy = () => {
  navigator.clipboard.writeText(props.url);
};
</script>

<template>
  <div class="gif relative flex justify-center items-center w-[17rem] h-[17rem] p-2 bg-slate-100 rounded-md">
    <img
      :src="previewUrl"
      :alt="title"
      class="max-w-[16rem] max-h-[16rem]"
    />

    <div class="gif__actions absolute inset-0 flex items-center justify-center bg-gray-500/50 rounded-md">
      <font-awesome-icon
        class="w-10 h-10 text-white hover:text-sky-200 mr-10 cursor-pointer"
        icon="share"
        @click="share"
      />

      <font-awesome-icon
        class="w-10 h-10 text-white hover:text-sky-100 cursor-pointer"
        icon="link"
        @click="copy"
      />
    </div>
  </div>
</template>

<style lang="scss">
.gif {
  &:hover {
    .gif__actions {
      @apply flex;
    }
  }

  &__actions {
    @apply hidden;
  }
}
</style>
