<script lang="ts" setup>
import { useTenorStore } from '@/stores/TenorStore';
import Gif from './Gif.vue';
import GifSkeleton from './GifSkeleton.vue';

const tenorStore = useTenorStore();
</script>

<template>
  <div class="flex justify-center flex-wrap gap-2">
    <template v-if="!tenorStore.loading">
      <Gif
        v-for="({
          id,
          media_formats,
          title,
          content_description,
        }, index) in tenorStore.tenors"
        :key="`tenor-${index}-${id}`"
        :url="media_formats.gif.url"
        :preview-url="media_formats.tinygif.url"
        :title="title"
        :content-description="content_description"
      />
    </template>

    <template v-else>
      <GifSkeleton
        v-for="(_, index) in Array(10)"
        :key="`tenor-skeleton-${index}`"
      />
    </template>
  </div>
</template>
