<script lang="ts" setup>
import { useTenorStore } from '@/stores/TenorStore';

const tenorStore = useTenorStore();
</script>

<template>
  <button
    @click.prevent="() => tenorStore.getTenors(true)"
    :disabled="!tenorStore.searchText || tenorStore.loading"
    type="submit"
    class="w-[38px] h-[38px] rounded-md ml-1"
    :class="{
      'bg-gray-100 hover:bg-gray-100 text-gray-400 cursor-not-allowed': !tenorStore.searchText || tenorStore.loading,
      'bg-sky-100 hover:bg-sky-200 text-gray-700 cursor-pointer': !!tenorStore.searchText && !tenorStore.loading,
    }"
    :title="tenorStore.searchText ? `Jiné gify pro výraz '${tenorStore.searchText}'` : 'Nejprve napiš co hledáš'"
  >
    <font-awesome-icon
      icon="random"
    />
  </button>
</template>
