<script lang="ts" setup>
import {
  type Ref,
  ref,
  watch,
} from 'vue';

export interface Props {
  id: string;
  modelValue: string;
  label: string;
}

const props = defineProps<Props>();
const emit = defineEmits(['update:modelValue']);

const searchInput = ref<HTMLInputElement>() as Ref<HTMLInputElement>;

const defaultValue = '';
const editableValue = ref(props.modelValue || defaultValue);
const isActive = ref(false);

watch(() => props.modelValue, () => {
  editableValue.value = props.modelValue;
}, { deep: true });

watch(() => editableValue, () => {
  emit('update:modelValue', editableValue.value);
}, { deep: true });
</script>

<template>
  <div
    class="relative whitespace-nowrap w-full"
    @click="isActive = true; searchInput.focus();"
  >
    <!-- LABEL -->
    <label
      :for="id"
      class="text-sm text-gray-700 font-semibold"
      :class="{
        'transition-all block absolute top-[-8px] left-2 bg-white w-auto text-xs px-1': isActive || editableValue,
        'transition-all absolute top-[9px] left-2 flex': !isActive && !editableValue,
      }"
    >
      {{ label }}
    </label>

    <!-- INPUT -->
    <div class="w-full flex flex-col">
      <input
        v-model="editableValue"
        :id="id"
        ref="searchInput"
        name="search-input"
        class="rounded-md p-2 w-full h-[38px] border border-gray-200 bg-white"
        type="text"
        @focus="isActive = true"
        @blur="isActive = false"
      >
    </div>
  </div>
</template>
