<script lang="ts" setup>
import { useTenorStore } from '@/stores/TenorStore';
import { computed } from 'vue';

const tenorStore = useTenorStore();

const searchSuggestions = computed(() => (tenorStore.searchSuggestions.length
  ? tenorStore.searchSuggestions
  : tenorStore.trendingSearchTerms));

tenorStore.getTrendingSearchTerms();
</script>

<template>
  <div class="flex items-center w-full overflow-scroll rounded-md p-2 border border-gray-200 bg-white">
    <!-- SUGGESTIONS -->
    <template v-if="!tenorStore.loading">
      <span
        v-for="(suggestion, index) in searchSuggestions"
        :key="`suggestion-${suggestion}-${index}`"
        class="px-2 py-1 bg-sky-100 hover:bg-sky-200 text-gray-600 font-semibold rounded-md cursor-pointer whitespace-nowrap mr-2 last:mr-0"
        @click="tenorStore.searchText = suggestion"
      >
        {{ suggestion }}
      </span>
    </template>

    <!-- LOADING SKELETON -->
    <template v-else>
      <span
        v-for="(_, index) in Array(5)"
        :key="`suggestion-skeleton-${index}`"
        class="skeleton-loader bg-gray-100 rounded-md w-24 h-8 mr-2 last:mr-0"
      />
    </template>
  </div>
</template>
