<script setup lang="ts">
import { RouterView } from 'vue-router';
import Header from '@/components/layout/Header.vue';
import Footer from '@/components/layout/Footer.vue';
import NotificationsBox from '@/components/notifications/NotificationsBox.vue';
import { useNotificationsStore } from '@/stores/NotificationsStore';
import { useCookiesConsentStore } from '@/stores/CookiesConsentStore';
import CookiesConsent from '@/components/cookiesConsent/CookiesConsent.vue';

const cookiesStore = useCookiesConsentStore();
const notificationsStore = useNotificationsStore();

cookiesStore.init();

notificationsStore.addNotification({
  title: 'Vítej',
  message: 'Hledej a sdílej gify. Použij zdrojový kód aplikace jak uznáš za vhodné, odkaz na repozitář v patičce aplikace.',
  timeout: 10000,
});
</script>

<template>
  <Header />

  <main class="relative flex container mx-auto flex-col min-h-[calc(100vh-(56px+52px))] px-3">
    <NotificationsBox
      :keep-on-top="!cookiesStore.wasPopupShowed"
    />

    <CookiesConsent />

    <RouterView />
  </main>

  <Footer />
</template>
